NEXT_PUBLIC_AUTH0_DOMAIN=dev-krep8xsiynqbkmxd.us.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=74DN6Ky6cKws58EUrezz7kIr7ZSpeS6B
NEXT_PUBLIC_AUTH0_AUDIENCE=https://todo-api
NEXT_PUBLIC_API_URL=http://localhost:8000/api


